<div class="full-size-header">
    <h1><%= @user.name %></h1>
</div>

<div class="row">
    <div class="row" id="user_info">
        <h2>Contact: <a href="mailto:<%="#{@user.email}"%>"><%=@user.email%></a></h2>
        <h2><%= @user.description %></h2>
        
    </div>

    <div class="row main_content">
        <% listings = Banjos.where(users_id: @user.id) %>
        <% if @user.id == current_user.id %>
        <h2>My Listings</h2>
        <% else%>
        <h2>User Listings</h2>
        <% end%>
        <%  listings.each do |ind| %>
        <li><a href="/banjos/<%=ind.id%>"><%= "#{ind.make} #{ind.model} (#{ind.year_made}) - #{ind.price}"%></a></li>
        <%  end %>

        <% if @user.id == current_user.id%>
            <h2>Account Actions</h2>
            <a href="/users/<%="#{@user.id}"%>/edit">Edit Your Profile</a>
            <form method="post" action="/users/<%=@user.id%>/delete">
                <input id="hidden" type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete Account and Listings">
            </form>
        <% end%>
    </div>
</div>

