<h1><%= @user.name %></h1>
<h4>Contact: <a href="mailto:<%="#{@user.email}"%>"><%=@user.email%></a></h4>
<%= @user.description %>

<% listings = Banjos.where(users_id: @user.id) %>
<h2>User Listings</h2>
<%  listings.each do |ind| %>
<li><a href="/banjos/<%=ind.id%>"><%= "#{ind.make} #{ind.model} (#{ind.year_made}) - #{ind.price}"%></a></li>
<%  end %>

