<h1>Edit Listing</h1>

<form method="POST" action='banjos/<%=@banjo.id%>/edit'>
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <label>Make</label>
    <br/>
    <input type="text" name="make" value="<%=@banjo.make%>">
    <br/>
    <br/>
    <label>Model</label>
    <br/>
    <input type="text" name="model" value="<%=@banjo.model%>">
    <br/>
    <br/>
    <label>Year Made</label>
    <br/>
    <input type="number" name="year_made" value="<%=@banjo.year_made%>">
    <br/>
    <br/>
    <label>Price</label>
    <br/>
    <input type="text" name="price" value="<%=@banjo.price%>">
    <br/>
    <br/>
    <input type="submit" value="Submit Changes">

</form>